.App {
  background: rgba(235, 232, 152, 0.5);
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  margin: 20px auto;
  padding: 10px;
  width: 100%;
}

body {
  background-image: url("https://images.unsplash.com/photo-1566146991394-b09a95e80d17?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-size: 100%;
  font-family: monospace;
  margin: 25px;
  padding: 35px;
}

h1,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

h5 {
  font-size: 15px;
}

li {
  display: inline;
  list-style: none;
}
